<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.jiashiq.mapper.ConfigFileThirdKindMapper">
  <resultMap id="BaseResultMap" type="com.hr.entity.ConfigFileThirdKind">
    <id column="third_kind_id" jdbcType="INTEGER" property="thirdKindId" />
    <result column="third_kind_name" jdbcType="VARCHAR" property="thirdKindName" />
    <result column="first_kind_id" jdbcType="INTEGER" property="firstKindId" />
    <result column="second_kind_id" jdbcType="INTEGER" property="secondKindId" />
    <result column="third_kind_sale_id" jdbcType="VARCHAR" property="thirdKindSaleId" />
    <result column="third_kind_is_retail" jdbcType="CHAR" property="thirdKindIsRetail" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    third_kind_id, third_kind_name, first_kind_id, second_kind_id, third_kind_sale_id, 
    third_kind_is_retail
  </sql>
  <select id="selectByExample" parameterType="com.hr.entity.ConfigFileThirdKindExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from config_file_third_kind
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from config_file_third_kind
    where third_kind_id = #{thirdKindId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from config_file_third_kind
    where third_kind_id = #{thirdKindId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hr.entity.ConfigFileThirdKindExample">
    delete from config_file_third_kind
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hr.entity.ConfigFileThirdKind">
    insert into config_file_third_kind (third_kind_id, third_kind_name, first_kind_id, 
      second_kind_id, third_kind_sale_id, third_kind_is_retail
      )
    values (#{thirdKindId,jdbcType=INTEGER}, #{thirdKindName,jdbcType=VARCHAR}, #{firstKindId,jdbcType=INTEGER}, 
      #{secondKindId,jdbcType=INTEGER}, #{thirdKindSaleId,jdbcType=VARCHAR}, #{thirdKindIsRetail,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hr.entity.ConfigFileThirdKind">
    insert into config_file_third_kind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thirdKindId != null">
        third_kind_id,
      </if>
      <if test="thirdKindName != null">
        third_kind_name,
      </if>
      <if test="firstKindId != null">
        first_kind_id,
      </if>
      <if test="secondKindId != null">
        second_kind_id,
      </if>
      <if test="thirdKindSaleId != null">
        third_kind_sale_id,
      </if>
      <if test="thirdKindIsRetail != null">
        third_kind_is_retail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thirdKindId != null">
        #{thirdKindId,jdbcType=INTEGER},
      </if>
      <if test="thirdKindName != null">
        #{thirdKindName,jdbcType=VARCHAR},
      </if>
      <if test="firstKindId != null">
        #{firstKindId,jdbcType=INTEGER},
      </if>
      <if test="secondKindId != null">
        #{secondKindId,jdbcType=INTEGER},
      </if>
      <if test="thirdKindSaleId != null">
        #{thirdKindSaleId,jdbcType=VARCHAR},
      </if>
      <if test="thirdKindIsRetail != null">
        #{thirdKindIsRetail,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hr.entity.ConfigFileThirdKindExample" resultType="java.lang.Long">
    select count(*) from config_file_third_kind
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update config_file_third_kind
    <set>
      <if test="record.thirdKindId != null">
        third_kind_id = #{record.thirdKindId,jdbcType=INTEGER},
      </if>
      <if test="record.thirdKindName != null">
        third_kind_name = #{record.thirdKindName,jdbcType=VARCHAR},
      </if>
      <if test="record.firstKindId != null">
        first_kind_id = #{record.firstKindId,jdbcType=INTEGER},
      </if>
      <if test="record.secondKindId != null">
        second_kind_id = #{record.secondKindId,jdbcType=INTEGER},
      </if>
      <if test="record.thirdKindSaleId != null">
        third_kind_sale_id = #{record.thirdKindSaleId,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdKindIsRetail != null">
        third_kind_is_retail = #{record.thirdKindIsRetail,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update config_file_third_kind
    set third_kind_id = #{record.thirdKindId,jdbcType=INTEGER},
      third_kind_name = #{record.thirdKindName,jdbcType=VARCHAR},
      first_kind_id = #{record.firstKindId,jdbcType=INTEGER},
      second_kind_id = #{record.secondKindId,jdbcType=INTEGER},
      third_kind_sale_id = #{record.thirdKindSaleId,jdbcType=VARCHAR},
      third_kind_is_retail = #{record.thirdKindIsRetail,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hr.entity.ConfigFileThirdKind">
    update config_file_third_kind
    <set>
      <if test="thirdKindName != null">
        third_kind_name = #{thirdKindName,jdbcType=VARCHAR},
      </if>
      <if test="firstKindId != null">
        first_kind_id = #{firstKindId,jdbcType=INTEGER},
      </if>
      <if test="secondKindId != null">
        second_kind_id = #{secondKindId,jdbcType=INTEGER},
      </if>
      <if test="thirdKindSaleId != null">
        third_kind_sale_id = #{thirdKindSaleId,jdbcType=VARCHAR},
      </if>
      <if test="thirdKindIsRetail != null">
        third_kind_is_retail = #{thirdKindIsRetail,jdbcType=CHAR},
      </if>
    </set>
    where third_kind_id = #{thirdKindId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hr.entity.ConfigFileThirdKind">
    update config_file_third_kind
    set third_kind_name = #{thirdKindName,jdbcType=VARCHAR},
      first_kind_id = #{firstKindId,jdbcType=INTEGER},
      second_kind_id = #{secondKindId,jdbcType=INTEGER},
      third_kind_sale_id = #{thirdKindSaleId,jdbcType=VARCHAR},
      third_kind_is_retail = #{thirdKindIsRetail,jdbcType=CHAR}
    where third_kind_id = #{thirdKindId,jdbcType=INTEGER}
  </update>
</mapper>